/*Variables*/
// Default tema (Light Mode)
:root {
    --background: #FFFFFF;
    --color: #212429;
    --sidebarBackground:#F9F9F9;
    --borderColor:#ddd;
    --sidebarMenuSelectedBackground:#EFEFEF;
    --sidebarMenuSelectedColor:#0D0D0D;
    --sidebarMenuColor:#858486;
}
  
// Dark Mode tema
html.dark {
    --background: #212121;
    --color: #fff;
    --sidebarBackground:#181818;
    --borderColor:#38444D;
    --sidebarMenuSelectedBackground:#303030;
    --sidebarMenuSelectedColor:#FFFFFF;
    --sidebarMenuColor:#A8A8AA;
}